@charset "UTF-8";

body {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	background-color: #CFC4D7;
	line-height: 26px;
	font-size: 16px;
	text-align: left;
	color: #333333;
	margin: 0;
	padding: 0;
	background-image: url("../images/logo-codersrelief.png");
	background-repeat: space;
}

h1, h2, h3, h4 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: #444444;
}

h1 {
	font-size: 30px;
	line-height: 30px;
}

h2 {
	color: #C6C6C6;
	font-size: 26px;
	line-height: 26px;
	background-color: #333333;
	padding: 10px;
}

h3 {
	font-size: 20px;
	line-height: 20px;
}

h4 {
	font-size: 18px;
	line-height: 18px;
}

blockqoute {
	font-size: 20px;
}

/* LINK STYLES 
***********************/

a:link {
	color: #2CB747;
	font-weight: bold;
	text-decoration:none;
}

a:visited {
	color: #24953A;
		
}

a:focus, a:hover {
	color: #222222;
	text-decoration: underline;
}

a:active {
	color: #2CB747;
	
}

/* HEADER STYLES
*********************/

header {
	text-align: center;
	
}

/* NAV STYLES
********************/

nav{
	background-color: #333;
	padding: 8px;
	text-align: center;
	margin-bottom: 20px;
	
}

nav li {
	display: inline;
	margin-right: 48px;
}

nav a {
	text-transform: uppercase;
}

nav a:focus, 
nav a:hover {
	color: #fff;
	text-decoration: none;
}

nav a:active {
	color: #2CB747;
}


/* MAIN STYLES
********************/

main {
	background-color: rgba(224,218,233,0.83);
	padding: 4px 32px 24px;
	width: 68%; /* alternatively change to 68% vs max-width: 680px with aside so that they both resive if the window resizes */
	float: left;
	-webkit-box-sizing: border-box;
	-mox-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 20px;
}

/* ASIDE STYLES
*********************/

aside {
	background-color: rgba(224,218,233,0.83);
	padding: 20px 16px 10px;
	width: 30%; /* can change to 30%  vs max-width:300px along with main */
	height: 300px;
	float: right;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
	-webkit-box-sizing: border-box;
	-mox-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 20px;
}

aside h2 {
	background-color: transparent;
	color: #444;
	padding: 0px;
	margin-bottom: 4px;
}

/* FOOTER STYLES
*********************/
footer {
	clear: both;
	text-align: center;
	color: #eee;
	background-color: #333;
	padding: 32px 8px 0px;
	-webkit-box-sizing: border-box;
	-mox-box-sizing: border-box;
	box-sizing: border-box;
	height: 200px;
}
	
/* IMAGE STYLES
*********************/
.float-left {
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
}

.float-right {
	float:right;
	margin-left: 20px;
	margin-bottom: 20px;
}

/* BUTTON STYLES
*********************/
.button:link, 
.button:visited {
	color: #fff;
	background-color: #00CF3B;
	text-decoration: none;
	text-align: center;
	padding: 10px 40px;
	-webkit-box-sizing: border-box;
	-mox-box-sizing: border-box;
	box-sizing: border-box;

	border: #333 solid 1px;
	flex: 1;
	
	
}

.button:focus,
.button:hover {
	background-color: #333;
}

.button:active {
	background-color: #00CF3B;
}

/* CUSTOM STYLES
*********************/

#wrapper {
	max-width: 1000px;
	margin: 0 auto;
	
} 

.light-purple-background {
	background-color: #8665B8;
	padding: 10px;
}

/* MEDIA QUERIES
*******************************/

/* 48em (768px and smaller)
*******************************/
@media screen and (max-width:48em){
	main{
		width:100%;
	}
	aside{
		width:100%;
	}
}

/* 40em (640px and smaller)
******************************/
@media screen and (max-width:50em ){
	.float-left,
	.float-right {
		width: 100%;
	}
}

/* 30em (320px and smaller) em is based off font size which is currently 16px. 1 em is 16px
*******************************/
@media screen and (max-width: 30em){
	main {
		padding: 0.125em 0.5em 0.25em;
	}
	aside {
		padding: 0.125em 0.5em 0.25em;
	}
}
	